<div class="main">
    <button (click)="onUpdate()" class="update">Refresh</button>
<div class="card" *ngFor="let repo of repos;">
<div class="left">
    <img src={{repo.image}} alt="board-image" id="image">
</div>
<div class="right">
    <p id="date">Date: <b>{{repo.date}}</b></p>
    <p id="originalPoster">Title: <b>{{repo.originalPoster}}</b></p>
    <p id="owner">Creator: <b>{{repo.owner}}</b></p>
    <a class="button" class="goTo" routerLink="/board/{{repo._id}}" >Comments</a>
</div>
</div>
</div>