<div class="all">
<div>
  <nav>
    <ul>
      <li>
        <a class="button" routerLink="/">Main</a>
      </li>
      <li>
        <a class="button"  routerLink="search">Search</a>
      </li>
      <li>
        <a class="button"  routerLink="profile">Profile</a>
      </li>
      <li>
        <a class="button"  routerLink="register">Register</a>
      </li>
      <li>
        <a class="button"  routerLink="login">Login</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
</div>