<div class="all">
<div>
 
  <nav>
    <ul>
      <li   *ngIf="isItLogged()">
        <img class="img-menu" src="{{image$ | async}}">
      </li>
      <li routerLinkActive="is-active"  [routerLinkActiveOptions]={exact:true}>
        <a routerLinkActive="is-active"  [routerLinkActiveOptions]={exact:true} class="button" routerLink="/">Main</a>
      </li>
      <li routerLinkActive="is-active">
        <a class="button"  routerLink="/search">Search</a>
      </li>
      <li routerLinkActive="is-active" *ngIf="isItLogged()">
        <a class="button"  routerLink="/profile">Profile</a>
      </li>
      <li routerLinkActive="is-active" *ngIf="!isItLogged()">
        <a class="button"  routerLink="/register" >Register</a>
      </li>
      <li routerLinkActive="is-active" *ngIf="!isItLogged()">
        <a class="button"  routerLink="/login">Login</a>
      </li>
      <li routerLinkActive="is-active" *ngIf="isItLogged()">
        <a class="button"  (click)="logout()" >Logout</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
</div>