ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:25px;
}
nav{
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    

}
li{
    padding-right: 15px;
}
