ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:25px;
   
}
nav{
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 100%;
    height: 50px;
}
nav li{
    padding-right: 15px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: grey;
}

nav li:hover{
    background-color: black;
    color:white;
    border-radius: 20px;
    padding: 10px;
    border: none;
    cursor:pointer;
}
a{
    text-decoration: none; 
    color: white;
}

